@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 18px 3px 3px;
  background: #ececec;
}

.scenario-settings-data {
  color: #333333;
  font-size: 15px;
  font-weight: bold;
}

.scenario-settings-title {
  color: #8e8e8e;
  font-size: 11px;
  font-weight: bold;
}

.header-container .scenario-details {
  display: flex;
  justify-content: space-between;
  background: white;
  margin: 1em;
  flex-basis: 30%;
}

.header-container .summary-details {
  display: flex;
  justify-content: space-between;
  background: white;
  margin: 1em;
  flex-basis: 30%;
}

.header-container .scenario-details .scenario-settings {
  padding: 1em;
  border-left: 1px thistle solid;
  flex: 1;
}

.header-container .summary-details .scenario-settings {
  padding: 1em;
  border-left: 1px thistle solid;
  flex: 1;
}

.top-icon-container {
  margin-right: 1em;
  display: flex;
  align-items: center;
  float: left;
  border-radius: 1em;
  color: darkblue;
}
